.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.header {
  font-size: 2rem;
}

.card-container {
  display: flex;
  flex-direction: row;
  max-width: 1000px;
  align-items: center;
  justify-items: center;
  align-content: center;
  margin: 10px;
  flex-wrap: wrap;
}

.card {
  margin: 20px;
  border: 1px solid grey;
  padding: 20px;
  border-radius: 5px;
  background-color: darkslategrey;
  font-size: 1.2rem;
  width: 150px;
  height: 125px;
  overflow-y: auto;
}
